/* Regular */
@font-face {
  font-family: 'HelveticaCustom';
  src: url('https://github.com/fredriksundvall/monkey-fonts/raw/refs/heads/main/Helvetica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'HelveticaCustom';
  src: url('https://github.com/fredriksundvall/monkey-fonts/raw/refs/heads/main/Helvetica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Bold Oblique */
@font-face {
  font-family: 'HelveticaCustom';
  src: url('https://github.com/fredriksundvall/monkey-fonts/raw/refs/heads/main/Helvetica-BoldOblique.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Oblique / Italic */
@font-face {
  font-family: 'HelveticaCustom';
  src: url('https://github.com/fredriksundvall/monkey-fonts/raw/refs/heads/main/Helvetica-Oblique.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'HelveticaCustom';
  src: url('https://github.com/fredriksundvall/monkey-fonts/raw/refs/heads/main/helvetica-light-587ebe5a59211.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Compressed (mapped as Extra Condensed) */
@font-face {
  font-family: 'HelveticaCustom';
  src: url('https://github.com/fredriksundvall/monkey-fonts/raw/refs/heads/main/helvetica-compressed-587d14b6903a.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Rounded Bold */
@font-face {
  font-family: 'HelveticaRounded';
  src: url('https://github.com/fredriksundvall/monkey-fonts/raw/refs/heads/main/helvetica-rounded-bold-5871d05ead8de.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
