@font-face {
  font-family: 'RecifeText';
  src: url('https://github.com/fredriksundvall/monkey-fonts/raw/refs/heads/main/RecifeText-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

